<!DOCTYPE html>
<html>
<head>
  <title>Pictgur</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="login_signup_body">

  <a href="/pictures" class="login_signup_home_button">Pict<span>gur</span></a>

  <%= yield %>

</body>
</html>
