<!DOCTYPE html>
<html>
<head>
  <title>Photogur</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="login_signup_body">

  <a href="/pictures" class="login_signup_home_button">Photo<span>gur</span></a>

  <%= yield %>

</body>
</html>
